#default serverconfiguration

servername=defaultserver
scenariolibrary=../everythingbuild/scenarios/mrscenariofootball.jar
scenarioclass=mrscenariofootball.core.ScenarioCore
scenarioconfigcmdline=
scenarioconfigfile=defaultscenario.config
visionipaddress=192.168.178.22
visionport=9050
botcontrolipaddress=192.168.0.100
botcontrolport=5555
graphicsport=9060
botports=3311 3310