#default serverconfiguration

servername=defaultserver
scenariolibrary=donge
scenarioclass=dinge
scenarioconfigcmdline=
scenarioconfigfile=defaultscenario.config
visionipaddress=127.0.0.1
visionport=4001
botcontrolipaddress=127.0.0.1
botcontrolport=4000
graphicsport=61123
botports=3111 3110